  .root {
  border-radius: 80px;
  border: 1px solid;
  color: var(--color-secondary);
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.4em 1.8em;
  text-decoration: none;
  background: white;
}

.root:hover {
  opacity: .8;
}

.primary {
  color: var(--color-primary);
}

.blank {
  border: none;
  background: transparent;
}
